body{
    margin:0;  
    font-family: 'Itim', cursive;
}

.App{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    text-align: center;
    font-size: 1.2em;
    background-color: #ccc;
}

.profile-container{
    display: flex;
    background-color: #f5a25d;
    flex-direction: column;
    align-content: center;
    justify-content: center; 
}

.interests-container{
    background-color: #fa7f72;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;  
}

.learn-container{
    background-color: #389393;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.expectations-container{
    background-color: #edc988;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; 
}